[submodule "frontend"]
	path = frontend
	url = git@github.com:TIBHannover/tibava-frontend.git
[submodule "backend"]
	path = backend
	url = git@github.com:TIBHannover/tibava-backend.git
[submodule "analyser"]
	path = analyser
	url = git@github.com:TIBHannover/tibava-analyser.git
[submodule "inference-bentoml"]
	path = inference-bentoml
	url = git@github.com:SpringsteinM/tibava-inference-bentoml.git
