upstream tibava_backend_gunicorn {
    server backend:8000 fail_timeout=0;
}

server {
    listen 80;
    client_max_body_size 50G;
    server_name localhost;
    keepalive_timeout 5;

{% if SCRIPT_NAME is defined and SCRIPT_NAME | length > 0 %}
    # Global rewrite: prepend /{{ SCRIPT_NAME }}/ to any incoming URL missing it
    rewrite ^(?!{{ SCRIPT_NAME }}/)(.*)$ {{ SCRIPT_NAME }}/$1 last;
    # Backend API Proxy
    location {{ SCRIPT_NAME }}/backend/ {
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme;
        proxy_set_header Host $http_host;
        proxy_redirect off;

        proxy_pass http://tibava_backend_gunicorn;
    }

    # Static Data Storage
    location {{ SCRIPT_NAME }}/media/ {
        alias /data/media/;
    }

    location {{ SCRIPT_NAME }}/thumbnails/ {
        alias /data/predictions/;
    }

    # Main Frontend Single Page App (SPA)
    location {{ SCRIPT_NAME }}/ {
        alias /app/frontend/dist/;
        index index.html;
        try_files $uri $uri/ @fallback;
    }
{% else %}
    # Root path setup (When SCRIPT_NAME is empty)

    location /backend/ {
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme;
        proxy_set_header Host $http_host;
        proxy_redirect off;

        proxy_pass http://tibava_backend_gunicorn;
    }

    location /media/ {
        alias /data/media/;
    }

    location /thumbnails/ {
        alias /data/predictions/;
    }

    location / {
        root /app/frontend/dist;
        index index.html;
        try_files $uri $uri/ /index.html;
    }
{% endif %}

    # Named fallback location
    location @fallback {
        root /app/frontend/dist;
        rewrite ^ /index.html break;
    }
}