upstream tibava_backend_gunicorn {
    server backend:8000 fail_timeout=0;
}


server {
    # use 'listen 80 deferred;' for Linux
    # use 'listen 80 accept_filter=httpready;' for FreeBSD
    listen 80;
    client_max_body_size 50G;
    root /app/frontend/dist/;

    # set the correct host(s) for your site
    server_name localhost;

    keepalive_timeout 5;


    location /tibava/backend/ {
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme;
        proxy_set_header Host $http_host;
        proxy_redirect off;

        # Match your upstream definition explicitly
        proxy_pass http://tibava_backend_gunicorn;
    }

    location /tibava/media/ {
        alias /data/media/;
    }

    location /tibava/thumbnails/ {
        alias /data/predictions/;
    }

    location /tibava/css/ {
       alias /app/frontend/dist/css/;
    }

    location /tibava/js/ {
       alias /app/frontend/dist/js/;
    }

    location /tibava/fonts/ {
       alias /app/frontend/dist/fonts/;
    }

    location /tibava/img/ {
       alias /app/frontend/dist/img/;
    }

    location /tibava {
        index  index.html;
        try_files $uri $uri/ /index.html;
    }


}