services:
  postgres:
    image: postgres:14.17
    volumes:
      - ./data/db/:/var/lib/postgresql/data
    environment:
      - POSTGRES_DB=tibava
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres -d tibava"]
      interval: 3s
      timeout: 3s
      retries: 5
    networks:
      - tibava-net

  memcached:
    image: memcached:1.6.10-buster
    command: -I 32m

    networks:
      - tibava-net

  valkey:
    image: valkey/valkey:8.1.1-alpine
    command: /usr/local/bin/valkey-server --port 6380 --bind 0.0.0.0
    ports:
      - "127.0.0.1:6380:6380"

    networks:
      - tibava-net

  celery:
    build:
      context: .
      dockerfile: Dockerfile
      args:
        WORKSPACE_MEMBER: backend

    volumes:
      - type: bind
        source: ./data/media/
        target: /media
      - type: bind
        source: ./data/predictions
        target: /predictions
      - type: bind
        source: ./data/backend_cache
        target: /cache
      - type: bind
        source: ./data/tmp
        target: /tmp

    depends_on:
      - postgres

    working_dir: /app/backend/src/backend/
    # environment:
    #   - TIBAVA_BACKEND_CONFIG=/app/backend/config.json
    command: celery -A tibava worker -l INFO  --concurrency=20 --pool=threads

    networks:
      - tibava-net

  backend:
    build:
      context: .
      dockerfile: Dockerfile
      args:
        WORKSPACE_MEMBER: backend

    ports:
      - 8000:8000

    volumes:
      - type: bind
        source: ./data/media/
        target: /media
      - type: bind
        source: ./data/predictions
        target: /predictions
      - type: bind
        source: ./data/backend_cache
        target: /cache
      - type: bind
        source: ./data/tmp
        target: /tmp

    working_dir: /app/
    environment:
      - PYTHONPATH=/app/backend/:/app:/app/analyser:/app/backend/src/backend/
      - ALLOWED_HOSTS=*
      - MEDIA_URL={{ SCRIPT_NAME }}/media/
      - THUMBNAIL_URL={{ SCRIPT_NAME }}/thumbnails/
      - THUMBNAIL_URL={{ SCRIPT_NAME }}/thumbnails/
      - ANALYSER_GRPC_HOST=192.168.56.11
      - ANALYSER_GRPC_PORT=50051
      - CSRF_TRUSTED_ORIGINS=http://192.168.56.10,http://localhost,http://ava21.service.tib.eu
    command: gunicorn --bind 0.0.0.0:8000 --env SCRIPT_NAME={{ SCRIPT_NAME }}/backend tibava.wsgi --capture-output --log-level info --workers=8
    #command: python3 backend/src/backend/manage.py check
    depends_on:
      postgres:
        condition: service_healthy # Wait until postgres is accepting connections
      memcached:
        condition: service_started
      celery:
        condition: service_started
    networks:
      - tibava-net

  frontend:
    image: frontend
    ports:
      - 8080:8080
      - 80:80
    build:
      context: ./frontend
    volumes:
      - type: bind
        source: ./frontend/
        target: /app/frontend
      - type: bind
        source: ./data/predictions/
        target: /data/predictions/
      - type: bind
        source: ./data/media/
        target: /dat/media
    working_dir: /app/frontend
    depends_on:
      - backend
    networks:
      - tibava-net
networks:
  tibava-net:
    driver: bridge
