[Unit]
Description=My GitLab Deployed Application
After=network.target

[Service]
Type=oneshot
User=tibava
RemainAfterExit=yes
WorkingDirectory=/srv/tibava/
ExecStart=/usr/bin/docker compose up -d
ExecStop=/usr/bin/docker compose down
Environment=NODE_ENV=production

[Install]
WantedBy=multi-user.target