#!/bin/bash
export CUDA_VISIBLE_DEVICES="{{ cuda_visible_devices }}"
export TIBAVA_DATA={{ app_dir }}/data/

cd {{ app_dir }}
apptainer exec --bind $TIBAVA_DATA/redis/:/data  docker://valkey/valkey:8.1.1-alpine valkey-server --port {{ valkey_port }} &


apptainer exec --bind $TIBAVA_DATA/ray:/tmp,$TIBAVA_DATA/analyser/:/data,$TIBAVA_DATA/models/:/models/ \
    --env HF_HOME=/models,NUMBA_CACHE_DIR=/tmp \
    --no-home \
    --no-mount /etc/localtime \
    apptainer.sif \
    serve run inference_ray/deploy.cuda.yml &

sleep 30s
echo "########## start server"
apptainer exec \
    --bind $TIBAVA_DATA/analyser/:/data,$TIBAVA_DATA/models/:/models/,$TIBAVA_DATA/cache/:/cache/ \
    --env HF_HOME=/models \
    --no-mount /etc/localtime \
    --no-home \
    apptainer.sif \
    python analyser/src/analyser/server.py \
        --config analyser/config.yml \
        -v \
        --port {{ analyser_port }} \
        --cache_valkey_host {{ valkey_host }} \
        --cache_valkey_port {{ valkey_port }} \
        --inference_ray_host {{ inference_ray_host }} \
        --inference_ray_port {{ inference_ray_port }} \
        --inference_ray_status_port {{ inference_ray_status_port }} &

wait