module.exports = {
  publicPath: '{{ SCRIPT_NAME }}',
  configureWebpack: {
    devServer: {
      contentBasePublicPath: '/',
      publicPath: '{{ SCRIPT_NAME }}',
      watchOptions: {
        ignored: [/node_modules/, /public/],
      }
    },
  },
  devServer: {
    disableHostCheck: true,
  },

  lintOnSave: true
}