#pydantic<2
starlette<=0.34.0
fastapi==0.86
ray[serve,serve-grpc]==2.43.0
numpy==1.26.3
torch==2.2.0
imageio[pyav,ffmpeg]==2.33.1
msgpack==1.0.7
PyYAML==6.0.1
grpcio==1.60.0
grpcio-tools==1.60.0
redis==5.0.1
librosa==0.10.1
transformers==4.37.2
scikit-learn==1.4.0
open-clip-torch==2.24.0
onnxruntime-gpu==1.17.0
onnx==1.15.0
opencv-python-headless==4.9.0.80
scipy==1.12.0
scikit-learn==1.4.0